<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">WELCOME</h3>
                <a style="color: white;" class="btn bg-success btn-block" href="/images">SEE IMAGES</a>
                <a style="color: white;" class="btn bg-primary btn-block" href="/addimage">ADD IMAGE</a>
            </div>
        </div>
    </div>
</div>