<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto mt-2">
        <div class="card">
            <div class="card-body">
                <img src="{{image.imageURL}}" width="100%">
            </div>
        </div>
    </div>
</div>